doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Test for style and script inline
  body
    // inject-style src="./css/main.css"
    h3.another-style Is inline!
    p.some-style Tests
    script(src='js/inlineScript.js', inline)