doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
  body
    // inject-style src="./css/main.css"
    h3.another-style Is inliness
    p.some-style Tetss
    script(src='js/inlineScript.js', inline='')